<template>
  <div class="">

    <AboutHeader v-if="currentPage && currentPage.nome">
      <h1 class="">
        <small>Notícias</small>
        <br>
        {{ currentPage.nome }}
      </h1>
    </AboutHeader>

    <section class="blog-wrap">
        <div class="container">
          <div class="row">
            <div class="col-md-8" v-if="currentPage && currentPage.nome">
              <div class="blog-img_block">

                <lightbox
                v-if="this.photos && currentPage"
                class="img-fluid"
                :thumbnail="this.photos[0]"
                :images="this.photos"
                title="Clique para ver mais fotos"
                ></lightbox>

                <div class="blog-date">
                  <span>{{ currentPage.data | moment("DD/MM/YYYY") }}</span>
                </div>
              </div>

              <div class="blog-tiltle_block">
                <h4 v-if="currentPage.nome">{{ currentPage.nome }}</h4>
              </div>
              <div v-if="currentPage && currentPage.texto">
                <div class="" v-html="currentPage.texto" ></div>
              </div>

            </div>
            <div class="col-md-4">

              <sidebar :other-posts="currentPage.outras_noticias" v-if="currentPage && currentPage.outras_noticias"></sidebar>

            </div>
          </div>
        </div>
      </section>

      <MainFooter></MainFooter>

    </div>
</template>

<script>
  import AboutHeader from '~/components/AboutHeader'
  import MainFooter from '~/components/MainFooter'
  import { mapState } from 'vuex'
  import _ from 'lodash'
  import sidebar from '~/components/BlogSidebar'

  export default {
    scrollToTop: true,
    computed: {
      ...mapState(['currentPage']),
      photos () {
        return _.map(this.currentPage.fotos, (foto) => {
          return this.baseUrl + '/img/noticias/' + foto
        })
      }
    },
    components: {
      sidebar,
      AboutHeader,
      MainFooter
    },
    data () {
      return {
        baseUrl: process.env.baseUrl
      }
    },
    mounted () {
      this.$store.dispatch('fetchPage', {
        name: 'noticias',
        id: this.$route.params.id
      })
    }
  }
</script>

<style media="screen">
  .lightbox__element {
    display: flex !important;
    width: fit-content !important;
    height: fit-content !important;
  }
  .lightbox__image img {
    margin: 0px;
    padding:0;
    max-height: calc(100% - 100px);
    border: solid white 35px;
  }
</style>
