<template>
  <div>

    <AboutHeader>
      <h1>Educação</h1>
    </AboutHeader>

    <section class="welcome_about">
      <div class="container">
        <div class="row" v-if="currentPage && currentPage.fotos">
          <div class="col-md-5">
            <figure  v-for="foto in currentPage.fotos" >
              <img :src="`${baseUrl}img/educacao/${foto}`" class="img-fluid" alt="#">
              <br>
            </figure>
          </div>
          <div class="col-md-7">

            <h2 v-if="currentPage && currentPage.nome">{{ currentPage.nome }}</h2>
            <p v-if="currentPage.texto">
              <div v-html="currentPage.texto"></div>
            </p>

          </div>
        </div>

        <div class="row" v-else>
          <div class="col-md-6 offset-md-3" v-if="currentPage">

            <h2 v-if="currentPage.nome">{{ currentPage.nome }}</h2>
            <p v-if="currentPage.texto">
              <div v-html="currentPage.texto"></div>
            </p>

          </div>
        </div>
      </div>
    </section>

    <MainFooter></MainFooter>

  </div>
</template>

<script>
import AboutHeader from '~/components/AboutHeader'
import MainFooter from '~/components/MainFooter'
import { mapState } from 'vuex'

export default {
  computed: mapState(['currentPage']),
  components: {
    AboutHeader,
    MainFooter
  },
  data () {
    return {
      baseUrl: process.env.baseUrl
    }
  },
  mounted () {
    this.$store.dispatch('fetchMenu')
    this.$store.dispatch('fetchPage', {
      name: 'educacao',
      id: this.$route.params.id
    })
  }
}
</script>
