<style media="screen">
.white {
  color: #fff;
}
</style>

<template>
  <div class="">
    <div>

      <AboutHeader>
        <h1>Contato</h1>
      </AboutHeader>

      <section class="contact">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="contact-title">
                <h2>Detalhes de contato</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="contact-form">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-6 contact-option">
                    <div class="contact-option_rsp">
                      <h3>Envie sua mensagem</h3>
                      <form method="post" id="phpcontactform" @submit.prevent="sendForm">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Nome" name="name" ref="name" value="" required>
                        </div>
                        <div class="form-group">
                          <input type="email" class="form-control" placeholder="E-mail" name="email" ref="email" value="" required>
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Telefone" name="phone" ref="phone" value="" required>
                        </div>
                        <div class="form-group">
                          <textarea placeholder="Mensagem" class="form-control" name="message" ref="message" required rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default btn-submit" id="js-contact-btn">Enviar</button>
                        <div id="js-contact-result" data-success-msg="Success, Your message has been sent" data-error-msg="Oops! Something went wrong"></div>
                      </form>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="contact-address" v-if="currentPage">
                      <h3>Localização</h3>
                      <div class="contact-details" v-if="currentPage && currentPage.endereco">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <h6>Endereço</h6>
                        <p>{{ currentPage.endereco }}<br/>{{ currentPage.bairroCEP }}<br/>{{ currentPage.cidade }}</p>
                      </div>
                      <br>
                      <div class="contact-details" v-if="currentPage.email">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <h6>E-mail</h6>
                        <p><a :href="'mailto:'+currentPage.email" class="white">{{ currentPage.email }}</a></p>
                      </div>
                      <br>
                      <div class="contact-details">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <h6>Telefone</h6>
                        <p>{{ currentPage.telefone }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="contact-center">OU</p>
            </div>
          </div>
        </div>

        <iframe :src="currentPage.mapa" v-if="currentPage && currentPage.mapa" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen id="map"></iframe>

      </section>

    </div>

    <MainFooter></MainFooter>

  </div>
</template>

<script>
  import AboutHeader from '~/components/AboutHeader'
  import MainFooter from '~/components/MainFooter'
  import axios from 'axios'
  import swal from 'sweetalert2'
  import { mapState } from 'vuex'
  var querystring = require('querystring')

  export default {
    computed: mapState(['currentPage']),
    data () {
      return {
        baseUrl: process.env.baseUrl
      }
    },
    components: {
      AboutHeader,
      MainFooter
    },
    methods: {
      sendForm () {
        var self = this
        var querystringStringify = querystring.stringify({
          name: self.$refs.name.value || '',
          email: self.$refs.email.value || '',
          message: self.$refs.message.value || '',
          phone: self.$refs.phone.value || ''
        })

        axios.post(process.env.apiUrl + 'contato/sendmail.php', querystringStringify)
          .then(function (response) {
            console.log(response.data.erro)
            if (response.data.erro === 'true') {
              swal({
                title: 'Erro!',
                text: 'Erro ao enviar mensagem',
                type: 'error'
              })
              return false
            }
            swal({
              title: 'Enviado!',
              text: response.data.resposta,
              type: 'success'
            })
            self.$refs.name.value = ''
            self.$refs.email.value = ''
            self.$refs.message.value = ''
            self.$refs.phone.value = ''
          })
          .catch(function (error) {
            console.log(error)
            swal({
              title: 'Erro!',
              text: error.message,
              type: 'error'
            })
          })
      }
    },
    mounted () {
      this.$store.dispatch('fetchMenu')
      this.$store.dispatch('fetchPage', {
        name: 'contato'
      })
    }
  }
</script>
