<template>
  <div class="">

    <AboutHeader>
      <h1>Trabalhe conosco</h1>
    </AboutHeader>

    <section class="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="contact-form">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 contact-option">
                  <div class="contact-option_rsp">
                    <h3>Envie seu currículo</h3>
                    <form method="post" id="phpcontactform" @submit.prevent="sendForm">

                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nome" name="name" ref="name" value="" required>
                      </div>
                      <div class="form-group">
                        <input type="email" class="form-control" placeholder="E-mail" name="email" ref="email" value="" required>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Telefone" name="phone" ref="phone" value="" required>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Cargo Pretendido (Ensino/Administrativo)" name="cargo" ref="cargo" value="">
                      </div>
                      <div class="form-group">
                        <input type="file" class="form-control" name="file" ref="file" value="" required>
                      </div>
                      <div class="form-group">
                        <textarea placeholder="Mensagem" class="form-control" name="message" ref="message" required rows="5"></textarea>
                      </div>
                      <button type="submit" class="btn btn-default btn-submit disabled" id="js-contact-btn" v-if="uploading">{{ uploadPercentCompleted + '%' }}</button>
                      <button type="submit" class="btn btn-default btn-submit" id="js-contact-btn" v-else>Enviar</button>

                      <div id="js-contact-result" data-success-msg="Success, Your message has been sent" data-error-msg="Oops! Something went wrong"></div>

                    </form>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                  <div class="contact-address" v-if="currentPage">
                    <h3>Localização</h3>
                    <div class="contact-details" v-if="currentPage && currentPage.endereco">
                      <i class="fa fa-user" aria-hidden="true"></i>
                      <h6>Endereço</h6>
                      <p>{{ currentPage.endereco }}<br/>{{ currentPage.bairroCEP }}<br/>{{ currentPage.cidade }}</p>
                    </div>
                    <br>
                    <div class="contact-details" v-if="currentPage && currentPage.email">
                      <i class="fa fa-envelope-o" aria-hidden="true"></i>
                      <h6>E-mail</h6>
                      <p><a :href="'mailto:'+currentPage.email" class="white">{{ currentPage.email }}</a></p>
                    </div>
                    <br>
                    <div class="contact-details">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                      <h6>Telefone</h6>
                      <p>{{ currentPage.telefone }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="contact-center">OU</p>
          </div>
        </div>
      </div>

      <iframe :src="currentPage.mapa" v-if="currentPage && currentPage.mapa" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen id="map"></iframe>

    </section>

    <MainFooter></MainFooter>

  </div>
</template>

<style media="screen">
  .white {
    color: #fff;
  }
</style>

<script>
  import AboutHeader from '~/components/AboutHeader'
  import MainFooter from '~/components/MainFooter'
  import axios from 'axios'
  import swal from 'sweetalert2'
  import { mapState } from 'vuex'
  // var querystring = require('querystring')

  export default {
    computed: {
      ...mapState(['currentPage']),
      uploading () {
        return this.uploadPercentCompleted > 0
      }
    },
    data () {
      return {
        baseUrl: process.env.baseUrl,
        uploadPercentCompleted: 0
      }
    },
    components: {
      AboutHeader,
      MainFooter
    },
    methods: {
      sendForm () {
        var self = this
        var data = new FormData()
        data.append('name', self.$refs.name.value)
        data.append('email', self.$refs.email.value)
        data.append('message', self.$refs.message.value)
        data.append('cargo', self.$refs.cargo.value)
        data.append('file', self.$refs.file.files[0])
        data.append('phone', self.$refs.phone.value)

        var config = {
          onUploadProgress: function (progressEvent) {
            self.uploadPercentCompleted = Math.round((progressEvent.loaded * 100) / progressEvent.total)
          }
        }

        axios.post(process.env.apiUrl + 'trabalhe/sendcurriculo.php', data, config)
          .then(function (response) {
            console.log(response.data.erro)
            if (response.data.erro === 'true') {
              swal({
                title: 'Erro ao enviar!',
                text: response.data.resposta,
                type: 'error'
              })
              return false
            }
            swal({
              title: 'Enviado!',
              text: response.data.resposta,
              type: 'success'
            })
            self.$refs.name.value = ''
            self.$refs.email.value = ''
            self.$refs.message.value = ''
            self.$refs.cargo.value = ''
            self.$refs.file.value = ''
            self.$refs.phone.value = ''
            self.uploadPercentCompleted = 0
          })
          .catch(function (error) {
            console.log(error)
            swal({
              title: 'Problemas com a rede!',
              text: error.message,
              type: 'error'
            })
            self.uploadPercentCompleted = 0
          })
      }
    },
    mounted () {
      this.$store.dispatch('fetchMenu')
      this.$store.dispatch('fetchPage', {
        name: 'trabalhe'
      })
    }
  }
</script>
