<!DOCTYPE html>
<html {{ HTML_ATTRS }}>

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119536193-2"></script>
  <script>
    window.dataLayer = window.dataLayer || []
    function gtag () { dataLayer.push(arguments) }
    gtag('js', new Date())
    gtag('config', 'UA-119536193-2')
  </script>

  <!-- Facebook Pixel Code -->
  <script>
    !(function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      }
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0'
      n.queue = []; t = b.createElement(e); t.async = !0
      t.src = v; s = b.getElementsByTagName(e)[0]
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js'))
    fbq('init', '1664626107020268')
    fbq('track', 'PageView')
  </script>

  <noscript>
    <img height="1" width="1" src="https://www.facebook.com/tr?id=1664626107020268&ev=PageView&noscript=1" />
  </noscript>
  <!-- End Facebook Pixel Code -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {{ HEAD }}

</head>

<body {{ BODY_ATTRS }}>

  {{ APP }}

  <!-----------------------------------------------------------------------------------------------------
  |                                                                                                     /
  |                 Developed with ❤️ by @agenciamav  |  https://agenciamav.com.br                      /
  |                                                                                                     /
  |                                                                                                     /
  |            ,    &&&&&&&&&&&&#     #&&&&&&&&&&&*   &&&&&&&&&&&&   *&&&&&&&&&&      *&&&&&&&&&&       /
  |           .,    &&&&&&&&&&&&&,   (&&&&&&&&&&&&* ,&&&&&&&&&&&&&&*  %&&&&&&&&&&     &&&&&&&&&&/       /
  |          .*,    &&&&&&&&&&&&&&  %&&&&&&&&&&&&&* &&&&&&&&&&&&&&&&   &&&&&&&&&&(   &&&&&&&&&&%        /
  |         ..*,    &&&&&&&&&&&&&&&#&&&&&&&&&&&&&&*&&&&&&&&&&&&&&&&&&,  (&&&&&&&&&( (&&&&&&&&&(         /
  |        ..,/,    &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(#&&&&&&&&&.  &&&&&&&&&&&&&&&&&&&&#          /
  |       ...*/,    &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&((&&&&&&&&&&   (&&&&&&&&&&&&&&&&&&           /
  |      ....*/,    &&&&&&&&&&&&&&&&&&&&&&&&&&&&&.&&&&&&&&&&&&&&&&&&&&&#   %&&&&&&&&&&&&&&&/            /
  |     ....,//,    &&&&&&&&&&*&&&&&&&&%.&&&&&&&..&&&&&&&&&&&&&&&&&&&&&&&   &&&&&&&&&&&&&&&             /
  |    .,*****/*    &&&&&&&&&& (&&&&&&&  &&&&&&  .&&&&&&        &&&&&&&&&%  ,&&&&&&&&&&&&%              /
  |                                                                                                     /
  ------------------------------------------------------------------------------------------------------>

</body>
</html>
