<template>
  <div>

    <nuxt/>

    <MainFooter></MainFooter>

  </div>
</template>

<script>
import MainFooter from '~/components/MainFooter'
import Vue from 'vue'
import VueMoment from 'vue-moment'
import moment from 'moment-timezone'

Vue.use(VueMoment, {
  moment
})

export default {
  components: {
    MainFooter
  },
  transition: 'fadeOpacity',
  async fetch ({ store, params }) {
    await store.dispatch('fetchMenu')
    await store.dispatch('fetchPage', {
      name: 'noticias',
      id: params.id
    })
    await store.dispatch('fetchHomeDestaque')
    await store.dispatch('fetchHomeNoticias')
    await store.dispatch('fetchHomeInfo')
  }
}
</script>

<style media="screen">
.page-enter-active, .page-leave-active {
  transition: all .25s ease-out;
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}

.fadeOpacity-enter-active, .fadeOpacity-leave-active {
  transition: opacity .35s ease-out;
}
.fadeOpacity-enter, .fadeOpacity-leave-active {
  opacity: 0;
}
</style>
