<template>
  <div class="" v-if="currentPage">

    <AboutHeader>
      <h1>
        <small>Sobre</small>
        <br>
        {{ currentPage.nome }}
      </h1>
    </AboutHeader>

    <section class="welcome_about">
      <div class="container">

        <div class="row" v-if="currentPage.fotos">
          <div class="col-md-5">

            <lightbox
            class="img-fluid"
            :thumbnail="this.photos[0]"
            :images="this.photos"
            title="Clique para ver"
            ></lightbox>

            <br>

            <figure v-for="foto in otherPhotos" >
              <lightbox
              class="img-fluid"
              :thumbnail="foto"
              :images="otherPhotos"
              title="Clique para ver"
              ></lightbox>

              <!-- <img :src="`${baseUrl}img/colegio/${foto}`" class="img-fluid" alt="#"> -->
              <br>
            </figure>

          </div>
          <div class="col-md-7">

            <h2 v-if="currentPage.nome">{{ currentPage.nome }}</h2>
            <p v-if="currentPage.texto">
              <div v-html="currentPage.texto"></div>
            </p>

            <br>
            <br>
            <br>

            <!-- DOWNLOAD -->
            <div class="admission-pdf" v-if="currentPage.arquivo">
              <i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i>
              <p>{{ currentPage.arquivo }}
                <br>
                <a :href="`${baseUrl}img/colegio/${currentPage.arquivo}`" >PDF</a>
              </p>
              <a :href="`${baseUrl}img/colegio/${currentPage.arquivo}`" class="btn btn-warning btn-pdf_join" target="_new"><i class="fa fa-download"></i>  Baixar</a>
            </div>
            <!-- /DOWNLOAD -->

          </div>
        </div>

        <div class="row" v-if="!(currentPage.fotos)">
          <div class="col-md-6 offset-md-3">

            <h2 v-if="currentPage.nome">{{ currentPage.nome }}</h2>
            <p v-if="currentPage.texto">
              <div v-html="currentPage.texto"></div>
            </p>

            <br>
            <br>
            <br>

            <!-- DOWNLOAD -->
            <div class="admission-pdf" v-if="currentPage.arquivo">
              <i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i>
              <p>{{ currentPage.arquivo }}
                <br>
                <a :href="`${baseUrl}img/colegio/${currentPage.arquivo}`" >PDF</a>
              </p>
              <a :href="`${baseUrl}img/colegio/${currentPage.arquivo}`" class="btn btn-warning btn-pdf_join" target="_new"><i class="fa fa-download"></i>  Baixar</a>
            </div>
            <!-- /DOWNLOAD -->

          </div>
        </div>

      </div>
    </section>

    <MainFooter></MainFooter>

  </div>
</template>

<script>
  import MainFooter from '~/components/MainFooter'
  import AboutHeader from '~/components/AboutHeader'
  import { mapState } from 'vuex'
  import _ from 'lodash'

  export default {
    computed: {
      ...mapState(['currentPage']),
      photos () {
        return _.map(this.currentPage.fotos, (foto) => {
          return this.baseUrl + '/img/colegio/' + foto
        })
      },
      otherPhotos () {
        return _.drop(this.photos)
      }
    },
    components: {
      AboutHeader,
      MainFooter
    },
    data () {
      return {
        baseUrl: process.env.baseUrl
      }
    },
    mounted () {
      this.$store.dispatch('fetchMenu')
      this.$store.dispatch('fetchPage', {
        name: 'sobre',
        id: this.$route.params.id
      })
    }
  }
</script>
