<template>
  <header class="about_bg">
    <div class="gradient_bg_header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nuxt-link to="/">
              <img :src="require('~/assets/images/logo.png')" class="responsive-logo img-fluid" alt="responsive-logo">
            </nuxt-link>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

            <MainMenu></MainMenu>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <slot>
              <h1>Sobre</h1>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>
<script>
import MainMenu from './MainMenu'
export default {
  components: {
    MainMenu
  }
}
</script>

<style media="screen">
  .gradient_bg_header {
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  }
</style>
