<template>
  <div class="">

    <div class="">
      <h3>Outras notícias</h3>
      <hr>
    </div>
    <div class="blog-featured_post"  v-for="post in this.otherPosts" :key="post.key">
      <nuxt-link :to="`/noticias/${post.id}`" class="blog-featured-img_block">
        <img v-if="post.fotos" :src="getUrl(post.fotos)" class="img-fluid" alt="blog-featured-img">
        <h5>{{ post.nome }}<br><small><i aria-hidden="true" class="icon-speedometer fa-common"></i> {{ post.data | moment("DD/MM/YYYY") }}</small></h5>
        <p v-html="post.resumo" style="color: black;"></p>
      </nuxt-link>
      <hr>
    </div>
    <div class="blog-featured_post">
      <nuxt-link :to="`/noticias/`" class="">Ver todas</nuxt-link>
    </div>

  </div>
</template>

<script>
export default {
  props: ['other-posts'],
  methods: {
    getUrl: (img) => (process.env.baseUrl + '/img/noticias/' + img)
  },
  data () {
    return {
      baseUrl: process.env.baseUrl,
      apiUrl: process.env.apiUrl
    }
  }
}
</script>
