<template>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="foot-logo">
            <nuxt-link to="/">
              <img :src="require('~/assets/images/footer-logo.png')" class="img-fluid" alt="footer_logo">
            </nuxt-link>
            <p><small>2018 © Copyright Colégio Aparecida
              <br> Todos os direitos reservados.</small></p>
            </div>
          </div>
          <div class="col-md-4 text-center">

            <div class="foot-logo">
              <a href="http://www.ftdsistemadeensino.com.br/" target="_blank">
                <img :src="require('~/assets/images/ftd.jpg')" class="img-fluid" alt="FTD">
              </a>
              <p>
                <small>Baixe aqui o aplicativo</small>
                <br/>
                <a href="https://www.facebook.com/app.minhaescola/" target="_new">Minha Escola Plus</a>
              </p>
            </div>

            <!-- <div class="sitemap">
              <h3>Navegue</h3>
              <ul v-if="menu">
                <li>
                  <nuxt-link v-if="menu.sobre" :to="'/sobre/'+menu.sobre[0].id">SOBRE</nuxt-link>
                </li>
                <li>
                  <nuxt-link v-if="menu.mantenedora" :to="'/mantenedora/'+menu.mantenedora[0].id">MANTENEDORA</nuxt-link>
                </li>
                <li>
                  <nuxt-link v-if="menu.educacao" :to="'/educacao/'+menu.educacao[0].id">EDUCAÇÃO</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/noticias">NOTÍCIAS</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/contato">CONTATO</nuxt-link>
                </li>
              </ul>

            </div> -->
          </div>

          <div class="col-md-4">
            <div class="address">
              <h3>Contate-nos</h3>
              <p>Rua Clemente Tarasconi, nº 53, Centro <br/>CEP - 95320-000, Nova Prata - RS</p>
              <p><strong>Telefone: </strong><br/> (54) 3242 1614</p>
              <p><strong>E-mail: </strong><br/> secretaria@aparecidanp.com.br</p>
              <ul class="footer-social-icons">
                <li><a href="https://www.facebook.com/colegionossasenhoraaparecidanovaprata/" target="_blank"><i class="fa fa-facebook fa-fb" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCOxFMQvcAz5XK1D3N-sjQmg" target="_blank"><i class="fa fa-youtube fa-yt" aria-hidden="true"></i></a></li>
                <!-- <li><a href="#"><i class="fa fa-linkedin fa-in" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter fa-tw" aria-hidden="true"></i></a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: mapState(['menu'])
}
</script>
