<template>
  <header>

    <div class="">
      <div class="container nav-menu">

        <div class="row">
          <div class="col-md-12">
            <nuxt-link to="/"><img :src="require('~/assets/images/logo.png')" class="responsive-logo img-fluid" alt="responsive-logo"></nuxt-link>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <MainMenu></MainMenu>

          </div>
        </div>

      </div>
    </div>

    <div class="slider_img">
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel" :data-slide-to="index" :class="{ active: index == 0 }" v-for="slide, index in this.slider"></li>
        </ol>
        <div class="carousel-inner" role="listbox">

          <div class="carousel-item" :class="{ gradient_bg: (slide.linha1 || slide.linha2), active: index == 0 }" v-for="slide, index in this.slider">
            <img class="d-block" :src="`${baseUrl}img/banners/${slide.imagem}`" :alt="slide.nome">
            <div class="carousel-caption d-md-block">
              <div class="slider_title">
                <h1>{{ slide.linha1 }}</h1>
                <h2>{{ slide.linha2 }}</h2>
            </div>
          </div>
        </div>

      </div>
      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <i class="icon-arrow-left fa-slider" aria-hidden="true"></i>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <i class="icon-arrow-right fa-slider" aria-hidden="true"></i>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</header>
</template>
<script>
  import MainMenu from './MainMenu'
  import { mapState, mapActions } from 'vuex'

  export default {
    components: {
      MainMenu
    },
    data () {
      return {
        baseUrl: process.env.baseUrl
      }
    },
    computed: mapState(['slider']),
    methods: mapActions(['fetchHomeSlider']),
    mounted () {
      // do something before mounting vue instance
      this.fetchHomeSlider()
    }
  }
</script>

<style>

</style>
