<template>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
      <span class="icon-menu"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav" v-if="menu">

        <li class="nav-item">
          <nuxt-link to="/" class="nav-link">HOME</nuxt-link>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SOBRE
          </a>
          <div class="dropdown-menu">

            <nuxt-link :to="'/sobre/'+link.id" class="dropdown-item" :key="link.id" v-for="link in menu.sobre">{{ link.nome }}</nuxt-link>

          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MANTENEDORA
          </a>
          <div class="dropdown-menu">

            <nuxt-link :to="'/mantenedora/'+link.id" class="dropdown-item" :key="link.id" v-for="link in menu.mantenedora">{{ link.nome }}</nuxt-link>

          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            EDUCAÇÃO
          </a>
          <div class="dropdown-menu">

            <nuxt-link :to="'/educacao/'+link.id" class="dropdown-item" :key="link.id" v-for="link in menu.educacao">{{ link.nome }}</nuxt-link>

          </div>
        </li>

        <li class="nav-logo">
          <nuxt-link to="/" class="navbar-brand"><img :src="require('~/assets/images/logo.png')" class="img-fluid" alt="logo"></nuxt-link>
        </li>

        <li class="nav-item">
          <nuxt-link to="/galeria" class="nav-link">GALERIA</nuxt-link>
        </li>

        <li class="nav-item">
          <nuxt-link to="/eventos" class="nav-link">EVENTOS</nuxt-link>
        </li>

        <li class="nav-item">
          <nuxt-link to="/noticias" class="nav-link">NOTÍCIAS</nuxt-link>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            CONTATO
          </a>
          <div class="dropdown-menu">

            <nuxt-link to="/contato/trabalhe" class="dropdown-item">TRABALHE CONOSCO</nuxt-link>
            <nuxt-link to="/contato" class="dropdown-item">FALE CONOSCO</nuxt-link>
            <nuxt-link to="/contato/envie-sua-historia" class="dropdown-item">ENVIE SUA HISTÓRIA</nuxt-link>

          </div>
        </li>
      </ul>
    </div>

  </nav>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: mapState(['menu']),
  mounted () {
    this.$store.dispatch('fetchMenu')
  }
}
</script>
