<template>
  <div v-if="currentPage">

    <AboutHeader>
      <h1>
        <small>Mantenedora</small>
        <br>
        {{ currentPage.nome }}
      </h1>
    </AboutHeader>

    <section class="welcome_about">
      <div class="container">
        <div class="row" v-if="currentPage.fotos">
          <div class="col-md-5">
            <figure  v-for="foto in currentPage.fotos" >
              <img :src="`${baseUrl}img/mantenedora/${foto}`" class="img-fluid" alt="#">
              <br>
            </figure>
          </div>
          <div class="col-md-7">

            <h2 v-if="currentPage.nome">{{ currentPage.nome }}</h2>
            <p v-if="currentPage.texto">
              <div v-html="currentPage.texto"></div>
            </p>

          </div>
        </div>

        <div class="row" v-if="currentPage.arquivo">
          <div class="col-md-6 offset-md-3">

            <h2 v-if="currentPage.nome">{{ currentPage.nome }}</h2>

            <div class="admission-pdf" v-if="currentPage.arquivo">
              <i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i>
              <p>{{ currentPage.arquivo }}
                <br>
                <a :href="`${baseUrl}img/mantenedora/${currentPage.arquivo}`" >PDF</a>
              </p>
              <a :href="`${baseUrl}img/mantenedora/${currentPage.arquivo}`" class="btn btn-warning btn-pdf_join" target="_new"><i class="fa fa-download"></i>  Baixar</a>
            </div>

            <p v-if="currentPage.texto">
              <div v-html="currentPage.texto"></div>
            </p>

          </div>
        </div>
      </div>
    </section>

    <MainFooter></MainFooter>

  </div>
</template>

<script>
  import AboutHeader from '~/components/AboutHeader'
  import { mapState } from 'vuex'
  import MainFooter from '~/components/MainFooter'

  export default {
    computed: mapState(['currentPage']),
    components: {
      AboutHeader,
      MainFooter
    },
    mounted () {
      this.$store.dispatch('fetchMenu')
      this.$store.dispatch('fetchPage', {
        name: 'mantenedora',
        id: this.$route.params.id
      })
    },
    data () {
      return {
        baseUrl: process.env.baseUrl
      }
    }
  }
</script>
