<template>
  <div>

    <AboutHeader>
      <h1>Galeria</h1>
    </AboutHeader>

    <section class="welcome_about">
      <div class="container">

        <div class="row" v-if="currentPage && currentPage.fotos">
          <div class="col-md-5">

            <!-- <lightbox
            :id="getPhotos()[0]"
            class="img-fluid hover"
            :thumbnail="getPhotos()[0]"
            :images="getPhotos()[0]"
            title="Clique para ver"
            ></lightbox> -->
            <br>

            <lightbox
            :id="'mylightbox'"
            :thumbnail="getPhotos()[0]"
            :images="getPhotos()"
            title="Clique para ver mais fotos"
            />

            <div class="row">
              <div class="col-md-4" v-for="foto, index in getAlbum()" :key="index">
                <!-- <img :src="foto" alt="" class="hover img-fluid align-center" title=""> -->

                <lightbox
                class="img-fluid hover"
                :thumbnail="foto"
                :images="getAlbum(index)"
                title="Clique para ver maior"
                ></lightbox>

              </div>

            </div>

          </div>
          <div class="col-md-7">

            <h2 v-if="currentPage.nome">{{ currentPage.nome }}</h2>
            <p v-if="currentPage.texto">
              <div v-html="currentPage.texto"></div>
            </p>

            <nuxt-link to="/galeria/"><i class="fa fa-arrowl-left"></i> Voltar</nuxt-link>

          </div>
        </div>

        <div class="row" v-if="currentPage && ! currentPage.fotos">
          <div class="col-md-6 offset-md-3">

            <h2 v-if="currentPage.nome">{{ currentPage.nome }}</h2>
            <p v-if="currentPage.texto">
              <div v-html="currentPage.texto"></div>
            </p>

            <nuxt-link to="/galeria/"><i class="fa fa-arrowl-left"></i> Voltar</nuxt-link>

          </div>
        </div>
      </div>
    </section>

    <MainFooter></MainFooter>

  </div>
</template>

<script>
  import AboutHeader from '~/components/AboutHeader'
  import MainFooter from '~/components/MainFooter'
  // import Lightbox from 'vue-simple-lightbox'
  import { mapState } from 'vuex'
  import _ from 'lodash'

  export default {
    data () {
      return {
        baseUrl: process.env.baseUrl
      }
    },
    computed: mapState(['currentPage']),
    methods: {
      getAlbum (index) {
        var album = this.currentPage.fotos
        if (index) {
          album = _.concat(_.drop(album, index), _.dropRight(album, album.leght - index)) // <-- Fantástico isso!!!
          console.log(album)
        }

        return _.map(_.drop(album), (foto) => {
          return this.baseUrl + 'img/galerias/' + foto
        })
      },
      getPhotos () {
        return _.map(this.currentPage.fotos, (foto) => {
          return this.baseUrl + 'img/galerias/' + foto
        })
      }
    },
    components: {
      AboutHeader,
      MainFooter
    },
    mounted () {
      this.$store.dispatch('fetchPage', {
        name: 'galeria',
        id: this.$route.params.id
      })
    }
  }
</script>

<style media="screen">
  .lightbox__element img {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .lightbox__thumbnail img {
    margin-bottom: 10px;
  }
</style>
