<template>
  <div>

    <AboutHeader>
      <h1>Galeria</h1>
    </AboutHeader>

    <section class="campus">
      <div class="container">

        <div class="row justify-content-center" v-if="currentPage != null && currentPage.length > 0">

          <div class="col-xs-12 col-md-6 col-lg-4" v-for="galeria in currentPage">
            <nuxt-link class="campus-img_block hover" :to="`/galeria/${galeria.id}`" tag="div" title="Clique para abrir">
              <img v-if="galeria.fotos" :src="`${baseUrl}img/galerias/${galeria.fotos}`" class="img-fluid" alt="campus-img">
              <div class="campus-title-block">
                <h4>{{ galeria.nome }}</h4>
              </div>
            </nuxt-link>
            <br>
          </div>

        </div>
      </div>
    </section>

    <MainFooter></MainFooter>

  </div>
</template>

<script>
import AboutHeader from '~/components/AboutHeader'
import MainFooter from '~/components/MainFooter'
import { mapState } from 'vuex'

export default {
  computed: mapState(['currentPage']),
  data () {
    return {
      baseUrl: process.env.baseUrl
    }
  },
  components: {
    AboutHeader,
    MainFooter
  },
  mounted () {
    this.$store.dispatch('fetchPage', {
      name: 'galeria'
    })
  }
}
</script>

<style media="screen">
  .hover {
    cursor: pointer;
  }
</style>
