<template>
  <div>
    <nuxt/>
  </div>
</template>

<script>
export default {
  transition: {
    name: 'fadeOpacity',
    mode: 'out-in'
  }
}
</script>

<style media="screen">
.fadeOpacity-enter-active, .fadeOpacity-leave-active {
  transition: opacity .35s ease-out;
}
.fadeOpacity-enter, .fadeOpacity-leave-active {
  opacity: 0;
}
</style>
