<template>
  <div>

    <MainHeader></MainHeader>

    <section class="clearfix about" v-if="homedestaque">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 v-if="homedestaque">{{ homedestaque.des_nome }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

            <p v-if="homedestaque">
              <div v-html="homedestaque.des_texto"></div>
            </p>

          </div>
        </div>
      </div>
    </section>


    <div class="detailed_chart">
      <div class="container">
        <div class="row" v-if="informacoes && informacoes.length > 0">
          <div class="col-xs-12 col-sm-4 col-md-4 text-center chart_bottom">
            <div class="chart-img">
              <img src="images/chart-icon_1.png" class="img-fluid  mx-auto d-block" alt="chart_icon">
            </div>
            <div class="chart-text" v-if="informacoes[0]">
              <p><span class="counter">{{ informacoes[0].qtd }}</span> {{ informacoes[0].nome }}</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 text-center chart_bottom chart_top">
            <div class="chart-img">
              <img src="images/chart-icon_2.png" class="img-fluid  mx-auto d-block" alt="chart_icon">
            </div>
            <div class="chart-text" v-if="informacoes[1]">
              <p><span class="counter">{{ informacoes[1].qtd }}</span> {{ informacoes[1].nome }}</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 text-center chart_top">
            <div class="chart-img">
              <img src="images/chart-icon_3.png" class="img-fluid  mx-auto d-block" alt="chart_icon">
            </div>
            <div class="chart-text" v-if="informacoes[2]">
              <p><span class="counter">{{ informacoes[2].qtd }}</span> {{ informacoes[2].nome }}</p>
            </div>
          </div>

        </div>
      </div>
    </div>


    <section class="blog">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Notícias</h2>
          </div>
        </div>
        <div class="row">

          <div class="col-md-4" v-for="noticia in homenoticias" v-if="homenoticias">
            <nuxt-link :to="`/noticias/${noticia.id}`" class="home_blog_link">
              <div class="blog-img_box">

                <img :src="baseUrl+'/img/noticias/'+noticia.foto" class="img-fluid blog_display" alt="blog-img" v-if="noticia.foto">
                <!-- <img :src="'http://via.placeholder.com/960x720'" class="img-fluid blog_display" alt="blog-img" v-if="!noticia.foto"> -->

                <div class="blogtitle">
                  <h3>{{ noticia.nome }}</h3>
                  <div class="info">
                    <i class="icon-user fa-common" aria-hidden="true"></i>
                    <p>Colégio Aparecida</p>
                    <i class="icon-speedometer fa-common" aria-hidden="true"></i>
                    <p>{{ noticia.data | moment("DD/MM/YYYY") }}</p>
                  </div>
                </div>
              </div>
            </nuxt-link>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12 text-center">
            <nuxt-link :to="`/noticias/`"  class="btn btn-default btn-courses">Ver todas</nuxt-link>
          </div>
        </div>
      </div>
    </section>

    <MainFooter></MainFooter>

  </div>
</template>

<script>
  import Logo from '~/components/Logo.vue'
  import MainHeader from '~/components/MainHeader.vue'
  import { mapState, mapActions } from 'vuex'
  import MainFooter from '~/components/MainFooter'

  export default {
    layout: 'home',
    data () {
      return {
        baseUrl: process.env.baseUrl
      }
    },
    computed: mapState([
      'homedestaque',
      'homenoticias',
      'informacoes'
    ]),
    methods: mapActions([
      'fetchMenu',
      'fetchHomeDestaque',
      'fetchHomeNoticias',
      'fetchHomeInfo'
    ]),
    components: {
      Logo,
      MainHeader,
      MainFooter
    },
    mounted () {
      this.fetchMenu()
      this.fetchHomeDestaque()
      this.fetchHomeNoticias()
      this.fetchHomeInfo()
    }
  }
</script>

<style media="screen">
  .img-wrapper {
    max-height: 215px;
    overflow: hidden;
  }
</style>
