<template>
  <div class="">

    <AboutHeader>
      <h1>Eventos</h1>
    </AboutHeader>

    <section class="campus">
      <div class="container">

        <div class="row justify-content-center" v-if="currentPage != null && currentPage.length > 0">

          <div class="col-xs-12 col-md-6 col-lg-4" v-if="currentPage" v-for="noticia in currentPage">
            <nuxt-link class="campus-img_block hover" :to="`/eventos/${noticia.id}`" tag="div">
              <img v-if="noticia.fotos" :src="`${baseUrl}img/eventos/${noticia.fotos}`" class="img-fluid" alt="campus-img">
              <div class="campus-title-block">
                <h4>{{ noticia.nome }}</h4>
              </div>
            </nuxt-link>
            <br>
          </div>

        </div>

        <div class="row justify-content-center" v-if="currentPage != null && currentPage.length == 0">
          <h2>Em breve novos eventos.</h2>
        </div>

        <div class="row justify-content-center" v-if="currentPage === null">
          <i class="fa fa-spinner fa-spin"></i>
        </div>

      </div>
    </section>

    <MainFooter></MainFooter>

  </div>
</template>

<script>
import MainFooter from '~/components/MainFooter'
import AboutHeader from '~/components/AboutHeader'
import { mapState } from 'vuex'

export default {
  computed: mapState(['currentPage']),
  data () {
    return {
      baseUrl: process.env.baseUrl
    }
  },
  components: {
    AboutHeader,
    MainFooter
  },
  mounted () {
    this.$store.dispatch('fetchPage', {
      name: 'eventos'
    })
  }
}
</script>

<style media="screen">
  .hover:hover {
    cursor: pointer;
  }
</style>
